<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Cửa hàng rượu</title>
    <link href="~/Images/logo.png" rel="shortcut icon" type="image/x-icon">
    <!--jquery first, bootstrap later-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/nn-style.css" rel="stylesheet">
    <style>
        .nn-megamenu-sidebar-title {
                background-color: lightgreen;
                border-radius:50%;
        }
    </style>
</head>
</html>
